.title {
  font-size: 15vw;
  letter-spacing: -1.1vw;
  font-weight: 800;
  color: white;
  white-space: wrap;
  line-height: 90%;
}

.header-background-blue {
  background: rgba(3, 0, 179);
}

html {
  @apply header-background-blue;
}

.github {
  /* padding: 15px;
  width: 24px;
  position: fixed;
  top: 0px;
  right: 0px;
  fill: rgba(0, 0, 0, 0.3);
  cursor: pointer; */
}
